.*
~*
*.sh
dist/
build/
*.py[cod]
*.patch
*.egg-info
!.git
!tests/.coveragerc
!.github
!.flake8
!.gitignore
!.github/
!.mypy.ini
!.pre-commit-config.yaml
src/smart_env/version.py
!bandit.yaml
coverage.xml
junit.xml
